<!DOCTYPE html>
<head>
</head>
<body>
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>


  <cemter><%= link_to 'Destroy Comment', [comment.list, comment],
              method: :delete,
              data: { confirm: 'Are you sure' } %>
  </center>
 <br/><br/>
</body>
